* {
  margin: 0;
}
html {
  overflow-x: hidden;
}
body {
  background-color: #eaeaea;
  color: #333;
  font-size: 16px;
  font-family: 'source-han-sans-simplified-c', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}
body a {
  text-decoration: none;
  color: #00c4b6;
}
body .mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 102;
  background: rgba(0,0,0,0.4);
}
#body-wrap {
  background-color: #fff;
  width: 800px;
  margin: 60px auto 0;
  border-radius: 10px;
}
article.post .post-meta {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 90%;
}
article.post .post-title,
.post-meta {
  text-align: center;
  margin-bottom: 0.5rem;
}
article.post .post-title .title:before {
  content: none;
}
.content .post-title h2:before {
  content: none;
}
article.post .post-content {
  padding-top: 50px;
}
article.post .post-content h1:before,
article.post .post-content h2:before,
article.post .post-content h3:before,
article.post .post-content h4:before,
article.post .post-content h5:before,
article.post .post-content h6:before {
  color: #00c4b6;
  margin-right: 10px;
  display: inline-block;
  content: '\f863';
  -webkit-animation: turn 1s linear infinite;
  -moz-animation: turn 1s linear infinite;
  -o-animation: turn 1s linear infinite;
  -ms-animation: turn 1s linear infinite;
  animation: turn 1s linear infinite;
  font-family: 'Font Awesome 5 Free';
}
article.post .post-content h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
article.post .post-content h1 {
  font-size: 1.5em;
}
article.post .post-content h2 {
  font-size: 1.3em;
}
article.post .post-content h3 {
  font-size: 1.1em;
}
article.post .post-content h4 {
  font-size: 0.9em;
}
article.post .post-content h5 {
  font-size: 0.7em;
}
article.post .post-content h6 {
  font-size: 0.5em;
}
article.post .post-content figure.highlight td {
  padding: 0;
  border: none;
  vertical-align: unset;
}
article.post .post-content figure.highlight .highlight-tools {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 1.5rem;
  background: #1c1c1c;
  color: rgba(238,255,255,0.8);
  font-size: 14px;
}
article.post .post-content figure.highlight .code pre {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
  margin: 0;
  padding: 8px 0;
  border: none;
}
article.post .post-content figure.highlight .code .line {
  line-height: 26px;
}
article.post .post-content p {
  line-height: 1.7em;
  letter-spacing: 0.2px;
  font-weight: 530;
  margin: 0 0 0.8rem;
}
article.post .post-content code {
  padding: 0.1rem 0.2rem;
  background: rgba(27,31,35,0.05);
  color: #f47466;
  border-radius: 5px;
  margin: 0 6px;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}
article.post .post-content img {
  margin: 0 auto 0.8rem;
  display: block;
  max-width: 100%;
}
article.post .post-content .table-wrap {
  overflow-x: scroll;
  margin: 0 0 1rem;
}
article.post .post-content table {
  display: table;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  empty-cells: show;
}
article.post .post-content table thead {
  background: rgba(153,169,191,0.1);
}
article.post .post-content table th,
table td {
  padding: 0.3rem 0.6rem;
  border: 1px solid #eee;
  vertical-align: middle;
}
article.post .post-tag {
  color: #858585;
  float: left;
  font-size: 16px;
  max-width: 300px;
  height: 25px;
  margin-top: 6px;
  margin-right: 20px;
}
.social-share {
  float: right;
}
.social-share .social-share-icon {
  font-size: 16px !important;
  width: 26px !important;
  height: 26px !important;
  line-height: 26px !important;
}
.post-copyright {
  margin-bottom: 30px;
  position: relative;
  padding: 0.5rem 0.8rem;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  -ms-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0px 2px 0px rgba(0,0,0,0.4);
  border-radius: 10px;
  border-left: 3px solid #e58a8a;
  border-right: 3px solid #e58a8a;
}
.post-copyright div {
  line-height: 28px;
  word-break: break-all;
}
.post-copyright .post-copyright-icon :before {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #e58a8a;
  content: '';
}
.post-copyright .post-copyright-icon :after {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  content: '';
  background: #fff;
}
.post-copyright .post-copyright-meta {
  color: #e58a8a;
  font-weight: 700;
}
main.content .page-title {
  text-align: center;
}
main.content .tag-content {
  text-align: center;
  padding-bottom: 50px;
}
main.content .tag-content a {
  display: inline-block;
  padding: 0 0.4rem;
}
main.content .page-title .page-description {
  font-size: 16px;
  padding: 0 15%;
  display: block;
}
main.content .categorie-content {
  padding: 30px 0 50px 60px;
}
.category-list .category-list-count:before {
  content: '(';
}
.category-list .category-list-count:after {
  content: ')';
}
.category-list .category-list-link {
  padding-right: 10px;
  line-height: 30px;
}
.category-list .category-list-item {
  list-style: none;
}
.category-list .category-list-item .category-list-child {
  padding-left: 20px;
}
nav {
  height: 3rem;
  margin: 0 30px;
  padding: 20px 0;
}
#site_nav ul {
  float: right;
}
#site_nav ul li {
  position: relative;
  list-style: none;
  float: left;
}
#site_nav ul li a {
  display: block;
  white-space: nowrap;
  padding: 10px;
  font-size: 0.9rem;
}
.site_nav #openNav {
  padding-top: 10px;
  display: none;
}
#mobileNav {
  display: none;
}
header {
  padding-bottom: 150px;
  margin: 0 30px;
  background-size: cover;
}
.author-info .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.author-info .author {
  font-weight: 700;
  font-size: 1.3rem;
  color: #ff7242;
  padding-top: 10px;
}
.author-info div {
  float: left;
  text-align: center;
  width: 100px;
}
.card-content .description .social-icon a i {
  color: #000;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
}
.card-content .description .social-icon {
  float: right;
}
.description {
  margin: 5% 0;
  font-size: 0.9rem;
  color: #565654;
  float: right;
}
main {
  width: 720px;
  height: auto;
  margin: 0 auto;
}
main.content .post-title h2 a {
  color: #000;
}
main.content .post-item {
  margin: 50px 30px;
  border-bottom: 2px solid #f8f8f8;
}
main.content .post-item .post-title {
  padding-bottom: 16px;
}
main.content .post-item .post-description p {
  line-height: 2em;
  letter-spacing: 0.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
main.content .post-item .post-footer {
  padding: 20px 0 10px 0;
  display: inline-block;
}
main.content .post-item .post-footer div {
  color: #858585;
  float: left;
  font-size: 13px;
  max-width: 100%;
  height: 25px;
  margin-right: 20px;
}
main.content .post-item .post-footer div .fa.fa-tag {
  font-size: 11px;
  margin-top: 3px;
}
main.content .post-item .post-footer .post-tag a {
  color: #666;
}
main.content .pagination {
  padding: 30px 0 60px 0;
  text-align: center;
  color: #666;
  font-size: 14px;
  width: 100%;
  display: inline-block;
}
main.content .pagination .page-number {
  display: inline-block;
  margin: 0 0.2rem;
  min-width: 1.2rem;
  height: 1.2rem;
  color: #00c4b6;
  text-align: center;
  line-height: 1.2rem;
}
main.content .pagination .page-number.current {
  background: #00c4b6;
  color: #fff;
}
main.content .pagination .page-pre {
  width: 260px;
  float: left;
  line-height: 2em;
  letter-spacing: 0.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
main.content .pagination .page-pre i {
  text-align: center;
}
main.content .pagination .page-next {
  width: 260px;
  float: right;
  line-height: 2em;
  letter-spacing: 0.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
main.content .post-content {
  padding: 50px 20px;
}
.post-reward .reward-button {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
.post-reward {
  position: relative;
  margin-top: 4rem;
  width: 100%;
  text-align: center;
  margin-top: 120px;
}
.post-reward .reward-button:hover .reward-main {
  display: block;
}
.post-reward .reward-button .reward-main {
  position: absolute;
  bottom: 80px;
  left: 0;
  z-index: 100;
  display: none;
  padding: 0 0 15px;
  width: 100%;
}
.post-reward .reward-button .reward-main .reward-all .reward-item .post-qr-code-desc {
  padding-top: 0.4rem;
  width: 130px;
  color: #858585;
}
.reward-main {
  -webkit-animation: donate_effcet 0.3s 0.1s ease both;
  -moz-animation: donate_effcet 0.3s 0.1s ease both;
  -o-animation: donate_effcet 0.3s 0.1s ease both;
  -ms-animation: donate_effcet 0.3s 0.1s ease both;
  animation: donate_effcet 0.3s 0.1s ease both;
}
.reward-all:after {
  position: absolute;
  right: 0;
  bottom: 2px;
  left: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 13px solid #f5f5f5;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  content: '';
}
.reward-all:before {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
}
.post-reward .reward-button .reward-main .reward-all {
  display: inline-block;
  margin: 0;
  padding: 1rem 0.5rem;
  border-radius: 4px;
  background: #f5f5f5;
}
.reward-item {
  display: inline-block;
  padding: 0 8px;
  list-style-type: none;
  vertical-align: top;
}
.reward-item img {
  width: 130px;
  height: 130px;
}
.reward-button {
  display: inline-block;
  width: 56px;
  height: 56px;
  line-height: 56px;
  font-size: 20px;
  color: #fff;
  background: #e58a8a;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.reward-button:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.2), 0 4px 15px rgba(0,0,0,0.2);
}
footer {
  clear: both;
  max-width: 780px;
  text-align: center;
  font-size: 15px;
  line-height: 2em;
  padding: 60px 0;
  margin: 0 auto;
}
footer .copyright {
  color: #666;
}
footer .fa-fan {
  color: #00c4b6;
  -webkit-animation: turn 1s linear infinite;
  -moz-animation: turn 1s linear infinite;
  -o-animation: turn 1s linear infinite;
  -ms-animation: turn 1s linear infinite;
  animation: turn 1s linear infinite;
}
@-moz-keyframes turn {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes turn {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-o-keyframes turn {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-moz-keyframes turn {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes turn {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-o-keyframes turn {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes turn {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.highlight-wrap .highlight {
  margin-top: 36px;
}
.highlight-wrap[data-rel]:hover {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0px 30px 0px rgba(0,0,0,0.4);
}
figure.highlight .gutter pre {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: #212121;
  color: #eff;
  text-align: right;
  font-family: consolas, Menlo, 'PingFang SC', 'Microsoft YaHei', sans-serif !important;
}
figure.highlight {
  overflow: auto;
  padding: 0;
  background: #212121;
  color: #eff;
  line-height: 1.6;
  position: relative;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
  -webkit-transform: translateZ(0);
}
.highlight-wrap[data-rel] {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0px 10px 0px rgba(0,0,0,0.4);
}
.highlight-wrap[data-rel]::before {
  content: attr(data-rel);
  height: 38px;
  line-height: 38px;
  background: #1c1c1c;
  color: #eff;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
  padding: 0px 80px;
  text-indent: 15px;
  float: left;
}
.highlight-wrap[data-rel]::after {
  content: ' ';
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fc625d;
  width: 12px;
  height: 12px;
  top: 0;
  left: 20px;
  margin-top: 13px;
  -webkit-box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
  box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
  z-index: 3;
}
figure.highlight pre {
  color: #eff;
}
figure.highlight table::-webkit-scrollbar-thumb {
  background: #121212;
}
figure.highlight pre .deletion {
  color: #bf42bf;
}
figure.highlight pre .addition {
  color: #105ede;
}
figure.highlight pre .meta {
  color: #c792ea;
}
figure.highlight pre .comment {
  color: #969896;
}
figure.highlight pre .variable,
figure.highlight pre .attribute,
figure.highlight pre .regexp,
figure.highlight pre .ruby .constant,
figure.highlight pre .xml .tag .title,
figure.highlight pre .xml .pi,
figure.highlight pre .xml .doctype,
figure.highlight pre .html .doctype,
figure.highlight pre .css .id,
figure.highlight pre .tag .name,
figure.highlight pre .css .class,
figure.highlight pre .css .pseudo {
  color: #ff5370;
}
figure.highlight pre .tag {
  color: #89ddff;
}
figure.highlight pre .number,
figure.highlight pre .preprocessor,
figure.highlight pre .literal,
figure.highlight pre .params,
figure.highlight pre .constant,
figure.highlight pre .command {
  color: #f78c6c;
}
figure.highlight pre .built_in {
  color: #ffcb6b;
}
figure.highlight pre .ruby .class .title,
figure.highlight pre .css .rules .attribute,
figure.highlight pre .string,
figure.highlight pre .value,
figure.highlight pre .inheritance,
figure.highlight pre .header,
figure.highlight pre .ruby .symbol,
figure.highlight pre .xml .cdata,
figure.highlight pre .special,
figure.highlight pre .number,
figure.highlight pre .formula {
  color: #c3e88d;
}
figure.highlight pre .keyword,
figure.highlight pre .title,
figure.highlight pre .css .hexcolor {
  color: #89ddff;
}
figure.highlight pre .function,
figure.highlight pre .python .decorator,
figure.highlight pre .python .title,
figure.highlight pre .ruby .function .title,
figure.highlight pre .ruby .title .keyword,
figure.highlight pre .perl .sub,
figure.highlight pre .javascript .title,
figure.highlight pre .coffeescript .title {
  color: #82aaff;
}
figure.highlight pre .tag .attr,
figure.highlight pre .javascript .function {
  color: #c792ea;
}
#openNav {
  display: none;
}
@media screen and (max-width: 800px) {
  body {
    background: #eaeaea;
  }
  #body-wrap {
    width: 95%;
    margin-top: 20px;
  }
  main.content {
    display: inline;
  }
}
@media screen and (max-width: 600px) {
  #mobileNav {
    background: #f6f8fa;
    display: none;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 103;
    overflow: hidden auto;
    width: 250px;
    height: 100%;
  }
  #mobileNav li {
    display: block;
    float: none !important;
    text-align: center;
  }
  #openNav {
    display: block;
  }
  .site_nav #openNav {
    display: inline-block;
  }
  .site_nav ul li {
    display: none;
  }
  .author-info div {
    padding: 1.3rem 1.5rem 0;
    float: none;
    width: auto;
  }
  .author-info hr {
    border: 2px dashed #e58a8a;
    margin: 2rem auto;
  }
  .site_nav #mobileNav li {
    line-height: 2;
  }
  .card-content .description,
  .card-content .description .social-icon {
    float: none;
    text-align: center;
  }
  header {
    padding-bottom: 0;
  }
  .card-content .author-info div {
    margin: 0 auto;
    float: none;
  }
  #site_nav ul {
    float: none;
    padding-inline-start: unset;
  }
  main.content .pagination .page-pre {
    text-align: center;
    width: 100%;
    line-height: 40px;
  }
  main.content .pagination .page-next {
    text-align: center;
    width: 100%;
  }
  article.post .post-tag {
    display: none;
  }
  .social-share {
    text-align: center;
    float: none;
  }
  .post-reward {
    margin-top: 60px;
  }
}
/* 滚动条 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #e58a8a !important;
  background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.4) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.4) 75%, transparent 75%, transparent) !important;
  border-radius: 2em;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-moz-selection {
  color: #fff;
  background-color: #e58a8a;
}
