// Home 首页

#post_list
    .post_item
        margin: 10px 0;
        border-bottom: 1px solid #f0f0f0;
        .post_title
            color: var(--post_title);
            font-size: 18px;
            margin-bottom: 4px
            font-weight: 700;
            line-height: 1.5;
            display: inline-block
            text-decoration: none
        .post_description
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: $line;
            font-size: 13px;
            line-height: 24px;
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
        .post_meta_wrap
            margin:10px 0
            color: #999;
            a
                text-decoration: none
                color: #999;
    .cover
        margin: .8rem auto;
        display: block;
        max-width: 100%;


@import '_partial/header'
