#openNav
    display none  

@media screen and (max-width 850px)
    #body-wrap
        margin 60px 20px !important

@media screen and (max-width 800px)
    body
        background #eaeaea
        #up
            bottom 20px !important
            right 0 !important
    #body-wrap
        width 95% !important
        margin 60px auto !important
    main.content
        display inline
        .post-item
            .post-title h2
                font-size 1.1em
    .post-copyright
        margin 0 20px     
    article.post .post-tag    
        margin 10px 0 0 20px
    .social-share
        margin 10px 20px 0 0    
    main.content .pagination
        padding-bottom 60px
    #local-search .search-result-list
        padding-bottom 2rem
        max-height 75vh!important    
    .search-dialog
        top 0
        left 0
        margin 0
        width 100%
        height 100%
    .search-animation-max
        -webkit-animation search-animation-max 0.5s
        -moz-animation search-animation-max 0.5s
        -o-animation search-animation-max 0.5s
        -ms-animation search-animation-max 0.5s
        animation search-animation-max 0.5s
    .search-animation-min
        -webkit-animation search-animation-min 0.5s
        -moz-animation search-animation-min 0.5s
        -o-animation search-animation-min 0.5s
        -ms-animation search-animation-min 0.5s
        animation search-animation-min 0.5s    
    .highlight-wrap .highlight
        td .line
            font-size .8em
    .post-content 
        p,code,li
            font-size .9em
    .MathJax
        width 100%
        overflow-x auto
        overflow-y hidden
        display: block;


@media screen and (max-width 600px)
    body
        font-size 14px
    .site_nav 
        #mobileNav  
            background #f6f8fa
            position fixed
            right -250px
            top 0px
            z-index 103
            overflow hidden auto
            width 250px
            height 100%
            li
                display block
                float none !important
                text-align center
                line-height 2
            ul 
                float none
                padding-inline-start unset   
        #openNav
            display inline-block
            padding 10px 10px 0 0
        ul li
            display none      
    .author-info 
        div
            padding 1.3rem 1.5rem 0
            float none
            width auto
            margin 0 auto
            float none
        hr
            border 2px dashed $scrollbar
            margin 2rem auto   
        
    .card-content .description,.card-content .description .social-icon
        float none
        text-align center
    header
        padding-bottom 0
        
    main.content 
        .pagination 
            .page-pre
                text-align center
                width 100%
                line-height 40px
            .page-next   
                text-align center
                width 100%
    article.post .post-tag
        display none
    .post-reward
        margin-top 60px
    .social-share 
        text-align center
        float none
        margin 10px 0 0 0


@media screen and (max-width 400px)
    // artitalk
    #artitalk_main
        .cbp_tmlabel
            padding-bottom 20px !important