// config
$main = convert(hexo-config('theme_color.main'))
$fan = convert(hexo-config('theme_color.fan'))
$scrollbar = convert(hexo-config('theme_color.scrollbar'))
$body-a = convert(hexo-config('theme_color.body-a'))
$author-name = convert(hexo-config('theme_color.author-name'))