$fan = convert(hexo-config('theme_color.fan'))
$body_a=convert(hexo-config('theme_color.body_a'))
$title = convert(hexo-config('theme_color.title'))
$main_size = convert(hexo-config('main_size'))
$line = convert(hexo-config('index_description.line'))
$font_html = convert(hexo-config('font.html'))
$font_code = convert(hexo-config('font.code'))
