
:root
    --main $main
    --body-bg #eaeaea
    --text-color #333
    --main-bg #fff
    --navbar-bg #fff
    --title-color #2f2f2f
    --link-bg #f8f9fa
    --code-bg $highlight-background
    --code-wrap-bg $codeBlock
    --blockquote-color #6a737d
    --color-block #f9f9f9
    --adorn #f0f0f0
    --error-text-color #333

if (hexo-config('darkmode'))
    :root[theme='dark']
        --body-bg #333841
        --text-color rgba(255, 255, 255, 0.6)
        --main-bg #282c34
        --navbar-bg #282c34
        --title-color rgba(255, 255, 255, 0.9)
        --link-bg #333841
        --code-bg #333841
        --code-wrap-bg #444851
        --blockquote-color var(--text-color)
        --color-block #363941
        --adorn #646e80
        --error-text-color #fff

    :root[theme='dark']
        img, #rightside
            -webkit-filter brightness(0.8)
            filter brightness(0.8)