footer
    text-align center
    font-size 0.9rem
    line-height 2em
    padding 30px 0

    .fa-fan
        color $fan
        -webkit-animation IH 1s linear infinite
        animation IH 1s linear infinite

    .third-party
        .icp img
            position relative
            top 4px

        .cdn img
            position relative
            top -2px