/* 头信息 */
#header {
    display: flex;
    padding: 60px 30px 0;
    background: var(--main-bg);
    border-radius: 10px 10px 0 0;
    justify-content: space-between;
    box-shadow: 10px 10px 40px 0 var(--box-shadow);
}

.avatar:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.header-author {
    display: flex;
    justify-content: center;

    .author-avatar {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 6px;
    }

    .author-name {
        color: $title;
        font-size: 1.3rem;
        font-weight: 700;
        padding-top: 10px;
        text-align: center;
    }
}

.header-description {
    margin-top: 20px;
    color: var(--text-color);
    text-align: right;

    p {
        margin: unset;
    }

    .header-icon * {
        color: var(--text-color);
        font-size: 12px;
        margin: 20px 2px 0;

        i:hover {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            -ms-transition: all 0.5s;
            transition: all 0.5s;
        }
    }
}
