// 全局
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-bg);
    color: var(--text-color);
    font-family: $fontHtml;

    a {
        text-decoration: none;
        color: $bodyA;
        transition: all 0.5s;
    }

    p {
        margin: revert;
    }

    .mask {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.4);
    }

    .clipboard {
        right: 16px;
        top: 8px;
        cursor: pointer;
        border-radius: 3px;
        color: #eff;
        position: relative;
        float: right;
        padding: 2px;
    }

    img {
        width: 100%;
    }
}

#body-wrap {
    display: flex;
    width: 820px;
    margin: 0 auto;
    flex-flow: column;

    if (!hexo-config('menu.enable')) {
        margin-top: 60px;
    }

    #main {
        box-shadow: 10px 30px 40px 0 var(--box-shadow);

        .post-title:hover {
            color: unset;
        }

        a:hover {
            color: var(--main);
        }
    }
}

.display-none {
    display: none;
}

.table-wrap {
    overflow-x: scroll;

    table {
        display: table;
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        empty-cells: show;

        thead {
            background: rgba(153, 169, 191, 0.1);
        }

        th, td {
            padding: 0.3rem 0.6rem;
            border: 1px solid #eee;
            vertical-align: middle;
        }
    }
}

.post-content {
    /* 锚点偏移量 */
    h1, h2, h3, h4, h5, h6 {
        padding-top: 100px;
        margin-top: -60px;
    }
}

kbd {
    padding: 2px 4px;
    font-size: 0.8rem;
    color: #fff;
    background-color: #666;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #000;
}

code {
    padding: 4px;
    background: rgba(27, 31, 35, 0.05);
    color: #f47466;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

blockquote {
    border-radius: 4px;
    margin: 4px 0;
    padding: 0.6rem 0.8rem;
    border-left: 0.2rem solid #e58a8a;
    background-color: rgba(73, 177, 245, 0.1);
    color: var(--blockquote-color);

    p {
        margin: 0;
    }
}

.pullquote.left {
    max-width: 45%;
    float: left;
    margin: 0.5em 0.5em 0 0;
}

.pullquote.right {
    max-width: 45%;
    float: right;
    margin: 0.5em 0 0 0.5em;
    border-right: 0.2rem solid #e58a8a;
    border-left: none;
}

.video-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 0.8rem;
    padding-top: 56.25%;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 820px) {
    #body-wrap {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    #post-list, #post, #page, #header {
        padding: 10px;
        padding-bottom: 30px;
        margin: 0 10px;
        box-sizing: border-box;
        min-width: auto;
        max-width: none;
    }
}

@import 'search';
@import 'nav';
@import 'header';
@import '../_highlight/code_block';
@import 'comment';
@import 'footer';
@import 'dark';
@import 'animation';

/* 滚动条 */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--main) transparent;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::selection {
    color: #fff;
    background-color: var(--main);
}
