@-moz-keyframes turn 
    from 
        -webkit-transform rotate(0)
        -moz-transform rotate(0)
        -o-transform rotate(0)
        -ms-transform rotate(0)
        transform rotate(0)
    
    to 
        -webkit-transform rotate(-360deg)
        -moz-transform rotate(-360deg)
        -o-transform rotate(-360deg)
        -ms-transform rotate(-360deg)
        transform rotate(-360deg)
    

@-webkit-keyframes turn 
    from 
        -webkit-transform rotate(0)
        -moz-transform rotate(0)
        -o-transform rotate(0)
        -ms-transform rotate(0)
        transform rotate(0)
    
    to 
        -webkit-transform rotate(-360deg)
        -moz-transform rotate(-360deg)
        -o-transform rotate(-360deg)
        -ms-transform rotate(-360deg)
        transform rotate(-360deg)
    

@-o-keyframes turn 
    from 
        -webkit-transform rotate(0)
        -moz-transform rotate(0)
        -o-transform rotate(0)
        -ms-transform rotate(0)
        transform rotate(0)
    
    to 
        -webkit-transform rotate(-360deg)
        -moz-transform rotate(-360deg)
        -o-transform rotate(-360deg)
        -ms-transform rotate(-360deg)
        transform rotate(-360deg)
    

@keyframes turn 
    from 
        -webkit-transform rotate(0)
        -moz-transform rotate(0)
        -o-transform rotate(0)
        -ms-transform rotate(0)
        transform rotate(0)
    
    to 
        -webkit-transform rotate(-360deg)
        -moz-transform rotate(-360deg)
        -o-transform rotate(-360deg)
        -ms-transform rotate(-360deg)
        transform rotate(-360deg)
    

@keyframes donate_effcet 
  0% 
    opacity 0
    -webkit-transform translateY(-20px)
    -moz-transform translateY(-20px)
    -o-transform translateY(-20px)
    -ms-transform translateY(-20px)
    transform translateY(-20px)
  
  100% 
    opacity 1
    -ms-filter none
    filter none
    -webkit-transform translateY(0)
    -moz-transform translateY(0)
    -o-transform translateY(0)
    -ms-transform translateY(0)
    transform translateY(0)
  
// 放大

@keyframes search-animation-max{

    0% {
        opacity 0
        -webkit-transform scale(0.7)
        -moz-transform scale(0.7)
        -o-transform scale(0.7)
        -ms-transform scale(0.7)
        transform scale(0.7)
    }
    100% {
        opacity 1
        -ms-filter none
        filter none
        -webkit-transform scale(1)
        -moz-transform scale(1)
        -o-transform scale(1)
        -ms-transform scale(1)
        transform scale(1)
    }
}
@keyframes search-animation-min{

    0% {
        opacity 1
        -ms-filter none
        filter none
        -webkit-transform scale(1)
        -moz-transform scale(1)
        -o-transform scale(1)
        -ms-transform scale(1)
        transform scale(1)
        
    }
    100% {
        opacity 0
        -webkit-transform scale(0.7)
        -moz-transform scale(0.7)
        -o-transform scale(0.7)
        -ms-transform scale(0.7)
        transform scale(0.7)
    }

}

.search-animation-max
    -webkit-animation search-animation-max 0.5s
    -moz-animation search-animation-max 0.5s
    -o-animation search-animation-max 0.5s
    -ms-animation search-animation-max 0.5s
    animation search-animation-max 0.5s
.search-animation-min
    -webkit-animation search-animation-min 0.5s
    -moz-animation search-animation-min 0.5s
    -o-animation search-animation-min 0.5s
    -ms-animation search-animation-min 0.5s
    animation search-animation-min 0.5s

.fadeout{
 -webkit-transition: all .5s;
 -moz-transition: all .5s;
 -ms-transition: all .5s;
 -o-transition: all .5s;
 transition: all .5s;
 opacity: 0;
}
.fadein{
 -webkit-transition: all .5s;
 -moz-transition: all .5s;
 -ms-transition: all .5s;
 -o-transition: all .5s;
 transition: all .5s;
 opacity: 1;
}