// 文章

#post
    border-radius 10px

// 文章头信息
.post-info
    text-align center
    padding 20px 0

    .post-title
        padding-bottom 4px

    .post-meta
        font-size 0.6rem

    .post-meta>div
        padding 2px 0

// 文章信息
.post-content
    line-height 1.8
    padding-bottom 50px
    word-wrap break-word
    overflow-wrap break-word

    img
        margin 0 auto 0.8rem
        display block
        max-width 100%
        border-radius 10px

    ul, ol
        padding-inline-start 24px



// 目录
$tocArea = convert(hexo-config('toc.area')) // 目录显示区域
$tocStyle = convert(hexo-config('toc.style')) // 目录显示样式

$tocHidden = $tocStyle == 'hidden'
$tocVisible = $tocStyle == 'visible'

// Hidden 样式
$tocHiddenLeft = $tocHidden && $tocArea == 'left'
$tocHiddenRight = $tocHidden && $tocArea == 'right'

// Visible 样式
$tocVisibleLeft = $tocVisible && $tocArea == 'left'
$tocVisibleRight = $tocVisible && $tocArea == 'right'


// 当目录在左边时调换文章内容和目录位置
if $tocVisibleLeft
    #post
        order 1

#toc-wrap

    if $tocVisible
        width 25%
        max-width 30%

        if !$tocVisibleLeft
            padding-left 10px
        if !$tocVisibleRight
            padding-right 10px
        
        if $tocVisible
            #toc
                top 10px
                padding 30px
                position sticky
                border-radius 10px
                background var(--main-bg)
                transition all .3s
            
    if $tocHidden
        top 0
        width 250px
        height 100%
        position fixed
        z-index 103
        background var(--main-bg)
        transition all 0.5s
        -webkit-transition all 0.5s
        -moz-transition all 0.5s
        -o-transition all 0.5s
        -ms-transition all 0.5s
    
        if $tocHiddenLeft
            left -250px

        if $tocHiddenRight
            right -250px

    .toc-title 
        padding-bottom 30px
        text-align center

        div 
            font-size 0.9rem
            font-weight bold

    .progress 
        width 100%
        height 10px
        background #ededed
        border-radius 10px

    .toc-list 
        if $tocVisible
            overflow-y auto
            max-height calc(100vh - 250px)

        if $tocHidden
            overflow hidden auto
            height calc(100vh - 100px)

        li 
            list-style none
            line-height 30px

            .toc-child 
                padding-left 1rem

    .toc, .toc-list>li 
        padding 0

// 打开目录
.show-toc

    if $tocHidden
        if $tocHiddenLeft
            transform translate3d(100%, 0, 0)
            -webkit-transform translate3d(100%, 0, 0)
            -moz-transform translate3d(100%, 0, 0)
            -o-transform translate3d(100%, 0, 0)
            -ms-transform translate3d(100%, 0, 0)

        if $tocHiddenRight
            transform translate3d(-100%, 0, 0)
            -webkit-transform translate3d(-100%, 0, 0)
            -moz-transform translate3d(-100%, 0, 0)
            -o-transform translate3d(-100%, 0, 0)
            -ms-transform translate3d(-100%, 0, 0)

// 目录滚动条
#progress
    width 60%
    height 10px
    background #ededed
    border-radius 10px

progress::-webkit-progress-bar
    background #ededed
    border-radius 8px

progress::-webkit-progress-value
    background var(--main)
    border-radius 8px

/* 版权框 */
if (hexo-config('copyright.enable'))
    .post-copyright
        margin 20px 0
        position relative
        padding 0.5rem 0.8rem
        border-radius 10px
        border-left 3px solid var(--main)
        border-right 3px solid var(--main)
        box-shadow 0 0px 2px 0px rgba(0, 0, 0, 0.4)
        transition box-shadow 0.3s ease-in-out
        -webkit-transition box-shadow 0.3s ease-in-out
        -moz-transition box-shadow 0.3s ease-in-out
        -o-transition box-shadow 0.3s ease-in-out
        -ms-transition box-shadow 0.3s ease-in-out

        div
            line-height 28px
            word-break break-all

        .post-copyright-icon:before
            position absolute
            top 0.1rem
            right 0.6rem
            color var(--main)
            content '\f1f9'
            font-size 1rem
            display inline-block
            font-weight 600
            font-style normal
            font-variant normal
            font-family 'Font Awesome 5 Free'
            text-rendering auto
            -webkit-font-smoothing antialiased

        .post-copyright-meta
            color var(--main)
            font-weight 700

// 文章标签
.post-tag
    text-align center
    padding-bottom 20px

// 上下一篇文章
.pagination-post
    display flex
    align-items baseline

    a
        width 100%
        margin 5px 4px
        padding 8px
        border-radius 4px
        background var(--color-block)

        i
            width 1rem

    .next-title
        text-align right

    .prev-title
        text-align left

    .prev-title, .next-title
        line-height 1.4em
        width 100%
        font-weight 700
        margin-bottom 6px

    .prev-desc, .next-desc
        word-break break-all
        color #777

// 小于
@media screen and (max-width 900px)
    // 当目录在左边时调换文章内容和目录位置
    if $tocVisibleLeft
        #post
            order 0
    
    
    if $tocVisible
        // 打开目录
        #toc-wrap.show-toc
            opacity 1
            right 30px
        #toc-wrap
            opacity 0
            position fixed
            right -100%
            bottom 80px
            z-index 1
            max-height calc(100% - 100px)
            width 300px
            max-width inherit
            transition initial
            -webkit-transition initial
            -moz-transition initial
            -o-transition initial
            -ms-transition initial
            transform-origin right bottom
            -webkit-transform-origin right bottom
            -moz-transform-origin right bottom
            -o-transform-origin right bottom
            -ms-transform-origin right bottom
        .toc-list
            overflow-y auto
            max-height calc(100vh - 200px)

@media screen and (max-width 760px)
    .pagination-post
        flex-direction column
        align-items center
        margin 0 10px
    

// 大于 760px
@media screen and (min-width 900px)
    if $tocVisible
        #open-toc
            display none