main.content 
    .category-list 
        padding 60px 40px 0
    .category-list-count
        position relative
        top -8px
        right -2px
        color #858585
        font-size 13px
    .category-list-count:before
        content '('
    .category-list-count:after
        content ')'
    .category-list-link
        line-height 30px
    .category-list-item
        padding 10px
        list-style none
        display inline-block
        .category-list-child
            padding-left 20px