footer {
    text-align: center;
    line-height: 2em;

    a {
        color: #00c4b6;
    }

    &.main-block-wrap {
        margin: 0;

        .main-block {
            background: unset;
        }
    }
}
