.link-list {
    overflow: auto;
    padding: 10px 10px 0;
    text-align: center;

    a {
        color: var(--text-color);
    }

    .link-list-item:hover {
        background: var(--link-bg);
    }

    .link-list-item:hover a img {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .link-list-item {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 15px 7px;
        width: calc(50% - 15px);
        height: 90px;
        border-radius: 8px;
        line-height: 17px;

        img {
            float: left;
            margin: 15px 10px;
            width: 60px;
            height: 60px;
            border-radius: 35px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -ms-transition: all 0.3s;
            transition: all 0.3s;
        }
    }

    .link-item-name {
        display: block;
        padding: 16px 10px 0 0;
        height: 40px;
        line-height: 1.5rem;
        font-weight: bold;
        font-size: 1.2em;
    }

    .link-item-desc {
        display: block;
        padding: 16px 10px 16px 0;
        height: 50px;
        font-size: 0.93em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    // 网站截图

    .link-list-item-screenshot {
        width: calc(25% - 15px);
        height: 130px;
        position: relative;
        display: block;
        margin: 15px 7px;
        float: left;
        overflow: hidden;
        border-radius: 3px;
        transition: all 0.3s ease 0s, transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
        box-shadow: 0 14px 38px #00000014, 0 3px 8px #0000000f;
        cursor: pointer;
    }

    @media screen and (max-width: 1024px) {
        .link-list-item-screenshot {
            width: calc(50% - 15px);
        }
    }

    @media screen and (max-width: 600px) {
        .link-list-item-screenshot {
            width: calc(100% - 15px);
        }
    }

    .link-list-item-screenshot img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: scale(1);
        transition: transform 0.8s !important;
    }

    .link-list-item-screenshot:hover .link-item-info {
        transform: translateY(-100%);
    }

    .link-list-item-screenshot:hover img {
        transform: scale(1.2);
    }

    .link-list-item-screenshot .link-item-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        border-radius: 3px;
        background-color: #ffffffb3;
        transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    }

    .link-list-item-screenshot .link-item-info img {
        position: relative;
        top: 22px;
        width: 66px;
        height: 66px;
        border-radius: 50%;
        box-shadow: 0 0 10px #0000004d;
        z-index: 1;
    }

    .link-list-item-screenshot .link-item-info span {
        font-size: 16px;
        width: 100%;
        text-align: center;
        box-shadow: 0 0 10px #0000004d;
        background-color: #ffffffb3;
        line-height: 60px;
        position: relative;
        top: 10px;
    }

    @keyframes link-custom {
        0% {
            box-shadow: 0 0 5px var(--primary-color, grey), inset 0 0 5px var(--primary-color, grey), 0 1px 0 var(--primary-color, grey);
        }

        to {
            box-shadow: 0 0 20px var(--primary-color, grey), inset 0 0 10px var(--primary-color, grey), 0 1px 0 var(--primary-color, grey);
        }
    }

    @keyframes borderFlash {
        0% {
            border-color: transparent;
        }

        to {
            border-color: var(--primary-color, grey);
        }
    }

    @keyframes link-custom1 {
        0% {
            box-shadow: 0 0 4px #ca00ff;
        }

        25% {
            box-shadow: 0 0 16px #00b5e5;
        }

        50% {
            box-shadow: 0 0 4px #00f;
        }

        75% {
            box-shadow: 0 0 16px #b1da21;
        }

        to {
            box-shadow: 0 0 4px red;
        }
    }

    @keyframes auto-rotate-left {
        0% {
            transform: rotate(0);
        }

        to {
            transform: rotate(-360deg);
        }
    }

    @keyframes auto-rotate-right {
        0% {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .loading {
        text-align: center;
    }
}

.link-subtitle {
    padding-top: 10px;
}

@media screen and (max-width: 1000px) {
    .link-list {
        .link-list-item {
            width: calc(50% - 15px);
        }
    }
}

@media screen and (max-width: 600px) {
    .link-list {
        .link-list-item {
            width: calc(100% - 15px);
        }
    }
}