/* 导航栏 */
#openNav
    display none

nav
    height 3rem
    margin 0 30px
    padding 20px 0
    .search-btn
        cursor pointer
        padding-top 10px

#site_nav 
    ul
        float right
        top -30px
        li
            position relative
            list-style none
            float left
            a
                font-weight 700
                display block
                cursor pointer
                white-space nowrap
                padding 10px
                font-size .9rem
    if hexo-config('search.enable')
        ul
            position relative

    #mobileNav
        opacity 0
        display table-column
        -webkit-transition all 0.5s
        -moz-transition all 0.5s
        -o-transition all 0.5s
        -ms-transition all 0.5s
        transition all 0.5s
    .open
        -webkit-transform translate3d(-100%, 0, 0)
        -moz-transform translate3d(-100%, 0, 0)
        -o-transform translate3d(-100%, 0, 0)
        -ms-transform translate3d(-100%, 0, 0)
        transform translate3d(-100%, 0, 0)

// 导航栏子菜单

.menu_child
    display none
    li
        float none !important

#site_nav ul li:hover .menu_child
    background-color #fff
    position absolute !important
    right 0
    display inline-block !important
    margin-top 66px
    padding 0
    border-radius 6px
    width max-content
    -webkit-box-shadow 0 5px 20px -4px rgba(0,0,0,.5)
    box-shadow 0 5px 20px -4px rgba(0,0,0,.5)


@media screen and (max-width 600px)
    #site_nav ul li:hover .menu_child
        background-color transparent
        position relative!important
        margin-top 20px
        -webkit-box-shadow 0 0 0 0 rgba(0,0,0,0)
        box-shadow 0 0 0 0 rgba(0,0,0,0)
        transition all 1s
    .site_nav 
        #mobileNav
            background #f6f8fa
            position fixed
            right -250px
            top 0px
            z-index 103
            overflow hidden auto
            width 250px
            height 100%
            li
                display block
                float none !important
                text-align center
                line-height 2
            ul 
                float none
                padding-inline-start unset
            .menu_child
                li
                    line-height .8
                    padding-left 30px
        ul li
            display none
        #openNav
            display inline-block
            padding 10px 10px 0 0

// 悬浮导航栏
if hexo-config('navbar')
    navbar
        transition all 0.2s linear 0s
        position fixed
        z-index 99
        top 0
        width 100%
        height 64px
        opacity 0
        #site_nav
                margin 0 10%
                background #fff
                border-radius 10px
                padding 10px 30px 0px
            .author
                font-weight 700
                font-size 1.1rem
                color $author-name
                display inline-block
                margin-right 10px
            ul
                top 0 !important
                li:hover .menu_child 
                    margin-top 35px !important
    @media screen and (max-width 1200px)
        navbar #site_nav
            margin 0

    @media screen and (max-width 1000px)
        navbar nav
            margin 0

    @media screen and (max-width 900px)
        navbar #site_nav
            #openNav
                padding 10px 0 0 15px
                display inline-block
            .author
                padding-top 6px
            ul li
                display none
            i
                float right