.pagination
    text-align center
    padding-top 20px

    .page-number.current
        background #00c4b6
        color #fff

    .page-number
        display inline-block
        margin 0 0.2rem
        min-width 1.2rem
        height 1.2rem
        color #00c4b6
        text-align center
        line-height 1.2rem
