.post-reward 
    position relative
    margin-top 4rem
    width 100%
    text-align center
    margin-top 120px
    .reward-button 
        display inline-block
        cursor pointer
        -webkit-transition all .4s
        -moz-transition all .4s
        -o-transition all .4s
        -ms-transition all .4s
        transition all .4s
        .reward-main 
            position absolute
            bottom 80px
            left 0
            z-index 100
            display none
            padding 0 0 15px
            width 100%
    .reward-button:hover 
        .reward-main 
            display block
            -webkit-animation donate_effcet .3s .1s ease both
            -moz-animation donate_effcet .3s .1s ease both
            -o-animation donate_effcet .3s .1s ease both
            -ms-animation donate_effcet .3s .1s ease both
            animation donate_effcet .3s .1s ease both
            .reward-all .reward-item .post-qr-code-desc 
                padding-top .4rem
                width 130px
                color #858585
.reward-all:after 
    position absolute
    right 0
    bottom 2px
    left 0
    margin 0 auto
    width 0
    height 0
    border-top 13px solid #f5f5f5
    border-right 13px solid transparent
    border-left 13px solid transparent
    content ''




.reward-all:before 
    position absolute
    bottom -10px
    left 0
    width 100%
    height 20px
    content ''


.post-reward .reward-button .reward-main .reward-all 
    display inline-block
    margin 0
    padding 1rem .5rem
    border-radius 4px
    background #f5f5f5


.reward-item 
    display inline-block
    padding 0 8px
    list-style-type none
    vertical-align top


.reward-item img 
    width 130px
    height 130px

.reward-button
    display inline-block
    width 56px
    height 56px
    line-height 56px
    font-size 20px
    color #fff
    background $main
    border-radius 50%
    transition .4s ease-in-out
    box-shadow 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)

.reward-button:hover
    box-shadow 0 6px 12px rgba(0,0,0,.2), 0 4px 15px rgba(0,0,0,.2)

