if hexo-config('updown.enable')
    #updown a:nth-child(1)
        position fixed
        left 0
        bottom -3px
    #updown a:nth-child(2)
        position fixed
        right 0
        bottom -3px
    @media screen and (max-width 800px)
        #updown
            display none