@require 'var'
    
#toc 
    height 100%
    position sticky
    border-radius 10px
    top 60px
    z-index 10
    width 300px
    padding 1rem
    margin 60px 30px
    background #fff 
    ol 
        li 
            list-style none
            line-height 30px
    .toc-child
        padding-left 1rem    
    .toc
        overflow-y scroll
        max-height 500px
   if hexo-config("toc.scrollbar")
    .toc::-webkit-scrollbar
        width 0px

.rightside-toc
    cursor pointer 
    display none !important



.social-share
    float right
    .social-share-icon
        font-size 16px !important
        width 26px !important
        height 26px !important
        line-height 26px !important


/*版权框两边颜色*/
.post-copyright  
    margin-bottom 10px
    position relative
    padding .5rem .8rem
    -webkit-transition box-shadow .3s ease-in-out
    -moz-transition box-shadow .3s ease-in-out
    -o-transition box-shadow .3s ease-in-out
    -ms-transition box-shadow .3s ease-in-out
    transition box-shadow .3s ease-in-out
    box-shadow 0 0px 2px 0px rgba(0, 0, 0, .4)
    border-radius 10px
    border-left 3px solid $main
    border-right 3px solid $main
    div
        line-height 28px
        word-break:break-all
 
    .post-copyright-icon
        :before
            position absolute
            top .5rem
            right .5rem
            width .8rem
            height .8rem
            border-radius 50%
            background $main
            content ''
        :after
            position absolute
            top .7rem
            right .7rem
            width .4rem
            height .4rem
            border-radius 50%
            content ''
            background #fff
    .post-copyright-meta
        color $main
        font-weight 700

#progress 
    width 60% 
    height 10px 
    background #ededed 
    border-radius 10px 

progress::-webkit-progress-bar 
    background #ededed 
    border-radius 8px 

progress::-webkit-progress-value 
    background convert(hexo-config('theme_color.progress'))
    border-radius 8px 

#toc-title
    text-align center
    padding-bottom 30px 