/* Home 首页 */
#post-list, #post, #page {
    position: relative;
    padding: 30px;
    border-radius: 0 0 10px 10px;
    background: var(--main-bg);
}

.post-item {
    display: flex;
    padding: 40px 0;
    border-bottom: 1px solid var(--adorn);

    .post-item-info {
        width: 100%;
        padding-right: 10px;
    }

    .post-title {
        display: block;
        color: var(--title-color);
        font-size: 1.4rem;
        padding-bottom: 16px;
        font-weight: 600;
        word-wrap: break-word;
        word-break: break-all;

        .stick {
            color: $stickColor;
            margin-right: 6px;
        }
    }

    .post-description {
        font-weight: 400;
        line-height: 2em;
        letter-spacing: 0.2px;
        overflow: hidden;
        word-wrap: break-word;
        word-break: break-all;
    }

    .post-meta-wrap {
        color: #999;
        font-size: 0.6rem;
        margin: 10px 0 0;
        overflow: hidden;
        word-wrap: break-word;
        word-break: break-all;

        .post-categorie, .post-tag {
            margin-left: 10px;
        }

        a {
            text-decoration: none;
            color: #999;
        }
    }
}

@media (max-width: 768px) {
    #post-list .post-item {
        flex-direction: column-reverse;

        .post-meta-wrap {
            margin-top: 10px;
            position: unset;
        }
    }
}
