#openNav
    display none  

@media screen and (max-width 800px)
    body
        background: #eaeaea
    #body-wrap
        width: 95%;
        margin-top: 20px;
    main.content
        display: inline;  

@media screen and (max-width 600px)
    #mobileNav  
        background: #f6f8fa
        display: none;
        position: fixed;
        right: 0px;
        top: 0px;
        z-index: 103;
        overflow: hidden auto;
        width: 250px;
        height: 100%;
    #mobileNav li
        display: block
        float: none !important
        text-align: center;
    #openNav
        display block  
    .site_nav #openNav
        display: inline-block
    .site_nav ul li
        display: none      
    .author-info div
        padding: 1.3rem 1.5rem 0;
        float: none;
        width auto
    .author-info hr
        border: 2px dashed #e58a8a;
        margin: 2rem auto;   
    .site_nav #mobileNav li
        line-height: 2
    .card-content .description,.card-content .description .social-icon
        float: none;
        text-align: center;
    header
        padding-bottom 0
    .card-content .author-info div
        margin: 0 auto
        float: none;
    #site_nav ul 
        float: none;
        padding-inline-start: unset;
    main.content .pagination .page-pre
        text-align: center;
        width: 100%;
        line-height: 40px;
    main.content .pagination .page-next   
        text-align: center;
        width: 100%;

    article.post .post-tag
        display: none
    .social-share 
        text-align: center
        float: none
    .post-reward
        margin-top: 60px;



 