@require 'theme'

/*代码框*/

  .highlight-wrap .highlight
    margin-top 36px
  .highlight-wrap[data-rel]:hover
    transition box-shadow .3s ease-in-out
    box-shadow 0 0px 30px 0px rgba(0, 0, 0, .4)

  figure.highlight .gutter pre  
    padding-right .5rem
    padding-left .5rem
    background-color $highlight-background
    color $highlight-foreground
    text-align right
    font-family consolas, Menlo, 'PingFang SC', 'Microsoft YaHei', sans-serif !important

  figure.highlight
    overflow-y hidden
    padding 0
    background $highlight-background
    color #eff
    line-height 1.6
    position relative
    -webkit-box-shadow 0 5px 10px 0 rgba(0,0,0,.4)
    box-shadow 0 5px 10px 0 rgba(0,0,0,.4)
    -webkit-transform translateZ(0)

  .highlight-wrap[data-rel]
    margin-top 1.2rem
    margin-bottom 1.2rem
    position relative
    overflow hidden
    border-radius 10px
    box-shadow 0 0px 10px 0px rgba(0, 0, 0, .4)
    &::before
      content attr(data-rel)
      height 38px
      line-height 38px
      background $highlight-wrap
      color $highlight-foreground
      font-size 16px
      position absolute
      top 0
      left 0
      width 100%
      font-weight bold
      if hexo-config('highlight_theme') == mac || hexo-config('highlight_theme') == 'mac light'
        padding 0px 80px
      text-indent 15px
      float left

    if hexo-config('highlight_theme') == mac || hexo-config('highlight_theme') == 'mac light'
      &::after
         content ' '
         position absolute
         -webkit-border-radius 50%
         border-radius 50%
         background #fc625d
         width 12px
         height 12px
         top 0
         left 20px
         margin-top 13px
         -webkit-box-shadow 20px 0px #fdbc40, 40px 0px #35cd4b
         box-shadow 20px 0px #fdbc40, 40px 0px #35cd4b
         z-index 3
