@require 'theme'

/* 代码框 */

figure.highlight pre
  padding-right 0.5rem
  padding-left 0.5rem
  background-color var(--code-bg)
  color $highlight-foreground
  font-family $fontCode

figure.highlight
  overflow-y hidden
  padding 0
  background var(--code-bg)
  color #eff
  line-height 1.6
  position relative
  -webkit-box-shadow 0 0 5px 0 rgba(0, 0, 0, 0.4)
  box-shadow 0 0 5px 0 rgba(0, 0, 0, 0.4)
  -webkit-transform translateZ(0)
  border-radius 10px
  margin-bottom 20px
  margin-top 10px

.code-block
  height 38px
  position sticky
  overflow hidden
  left 0

  &::before
    content attr(lang)
    height 38px
    line-height 38px
    background var(--code-wrap-bg)
    color $highlight-foreground
    font-size 1rem
    position absolute
    top 0
    left 0
    width 100%
    font-weight bold
    padding 0px 16px

    if (hexo-config('highlightTheme') == mac || hexo-config('highlightTheme') == 'mac light')
      padding 0px 70px
      text-indent 15px
      float left

  if (hexo-config('highlightTheme') == mac || hexo-config('highlightTheme') == 'mac light')
    &::after
      content ' '
      position absolute
      -webkit-border-radius 50%
      border-radius 50%
      background #fc625d
      width 12px
      height 12px
      top 0
      left 20px
      margin-top 13px
      -webkit-box-shadow 20px 0px #fdbc40, 40px 0px #35cd4b
      box-shadow 20px 0px #fdbc40, 40px 0px #35cd4b
      z-index 3
