<%# 分页 %> 
<% if (page.total > 1){ %>
    <div class="pagination">
        <%- paginator({
            prev_text: "<i class='fas fa-chevron-left fa-fw'></i>",
            next_text: "<i class='fas fa-chevron-right fa-fw'></i>",
            mid_size: 1,
            escape: false
          }) %>
    </div>
<%}%>