<div class="post-reward">
    <div class="reward-button">
         赏
         <div class="reward-main">
            <ul class="reward-all">
                <li class="reward-item"><a href="https://cdn.jsdelivr.net/gh/lete114/CDN@2.0/Use/wzf.png"
                        target="_blank"><img class="post-qr-code-img entered loaded"
                            data-lazy-src="https://cdn.jsdelivr.net/gh/lete114/CDN@2.0/Use/wzf.png" alt="微信"
                            data-ll-status="loaded" src="https://cdn.jsdelivr.net/gh/lete114/CDN@2.0/Use/wzf.png"></a>
                    <div class="post-qr-code-desc">微信</div>
                </li>
                <li class="reward-item"><a href="https://cdn.jsdelivr.net/gh/lete114/CDN@2.0/Use/zfb.png"
                        target="_blank"><img class="post-qr-code-img entered loaded"
                            data-lazy-src="https://cdn.jsdelivr.net/gh/lete114/CDN@2.0/Use/zfb.png" alt="支付宝"
                            data-ll-status="loaded" src="https://cdn.jsdelivr.net/gh/lete114/CDN@2.0/Use/zfb.png"></a>
                    <div class="post-qr-code-desc">支付宝</div>
                </li>
            </ul>
        </div>
    </div>
</div>