<%if(theme.search.enable){%>
<script type="text/javascript">$.getScript('<%-theme.CDN.search%>',function(){searchFunc('<%-theme.search.path%>', 'local-search-input', 'local-search-result') })</script>
<div class="search-dialog" id="local-search">
    <div id="local-search-title"><%-_p("search.title")%></div>
    <input id="local-search-input" placeholder="<%-_p('search.input')%>" type="text" >
    <hr>
    <div id="local-search-result">
        <div id="local-hits"></div>
    </div>
    <span class="search-close-button"><i class="fas fa-times"></i></span>
</div>
<%}%>