<script src="<%-theme.CDN.share_js%>"></script>
<link rel="stylesheet" href="<%-theme.CDN.share_css%>">    
<div class="social-share"></div>
<script>
var $config = {
    sites   : ['facebook', 'qq', 'weibo','wechat', 'twitter'], // 启用的站点
    // disabled: ['google', 'facebook', 'twitter', 'linyin'], // 禁用的站点
    wechatQrcodeTitle: "微信扫一扫：分享", // 微信二维码提示文字
    wechatQrcodeHelper: '立即下载发送专属二维码,邀请朋友加入',
};

socialShare('.social-share', $config);
</script>