
// 文章头信息
.post-info {
    padding: 40px 0 60px;

    .post-title {
        padding-bottom: 10px;
    }

    .post-meta {
        line-height: 1.6;
        font-size: 0.6rem;
    }

    .post-meta>div {
        padding: 2px 0;
    }
}

// 文章信息
.post-content {
    line-height: 2;
    letter-spacing: 0.5px;
    padding-bottom: 50px;
    word-wrap: break-word;
    overflow-wrap: break-word;

    img {
        margin: 0 auto 0.8rem;
        display: block;
        max-width: 100%;
        width: 60%;
        border-radius: 10px;
    }

    ul, ol {
        padding-inline-start: 24px;
    }
}

#toc-wrap {
    right: -100%;
    padding-right: 10px;
    opacity: 0;
    position: fixed;
    bottom: 80px;
    z-index: 1;
    max-width: 300px;
    width: calc(100% - 80px);
    max-height: calc(100% - 100px);
    transform-origin: right bottom;

    #toc {
        top: 10px;
        padding: 30px;
        position: sticky;
        border-radius: 10px;
        background: var(--main-bg);
        transition: all 0.3s;
        box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
    }

    .toc-title {
        padding-bottom: 30px;
        text-align: center;

        div {
            font-size: 0.9rem;
            font-weight: bold;
        }
    }

    .progress {
        width: 100%;
        height: 10px;
        background: #ededed;
        border-radius: 10px;
    }

    .toc-list {
        overflow-y: auto;
        max-height: calc(100vh - 200px);

        li {
            list-style: none;
            line-height: 30px;

            .toc-child {
                padding-left: 1rem;
            }
        }
    }

    .toc, .toc-list>li {
        padding: 0;
    }
}

// 目录进度条
#progress {
    width: 60%;
    height: 10px;
    background: #ededed;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background: #ededed;
    border-radius: 8px;
}

progress::-webkit-progress-value {
    background: var(--main);
    border-radius: 8px;
}

/* 版权框 */
if (hexo-config('copyright.enable')) {
    .post-copyright {
        margin: 20px 0;
        position: relative;
        padding: 0.5rem 0.8rem;
        border-radius: 10px;
        border-left: 3px solid var(--main);
        border-right: 3px solid var(--main);
        box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease-in-out;
        -webkit-transition: box-shadow 0.3s ease-in-out;
        -moz-transition: box-shadow 0.3s ease-in-out;
        -o-transition: box-shadow 0.3s ease-in-out;
        -ms-transition: box-shadow 0.3s ease-in-out;

        div {
            line-height: 28px;
            word-break: break-all;
        }

        .post-copyright-icon:before {
            position: absolute;
            top: 0.1rem;
            right: 0.6rem;
            color: var(--main);
            content: '\f1f9';
            font-size: 1rem;
            display: inline-block;
            font-weight: 600;
            font-style: normal;
            font-variant: normal;
            font-family: 'Font Awesome 5 Free';
            text-rendering: auto;
        }

        .post-copyright-meta {
            color: var(--main);
            font-weight: 700;
        }
    }
}

// 文章标签
.post-tag {
    text-align: center;
    padding-bottom: 20px;
}

// 上下一篇文章
.pagination-post {
    display: flex;
    align-items: baseline;

    a {
        width: 100%;
        margin: 5px 4px;
        padding: 8px;
        border-radius: 4px;
        background: var(--color-block);

        i {
            width: 1rem;
        }
    }

    .next-title {
        text-align: right;
    }

    .prev-title {
        text-align: left;
    }

    .prev-title, .next-title {
        line-height: 1.4em;
        width: 100%;
        font-weight: 700;
        margin-bottom: 6px;
    }

    .prev-desc, .next-desc {
        word-break: break-all;
        color: #777;
    }
}

@media screen and (max-width: 760px) {
    .pagination-post {
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
    }
}
