$body-color = rgba(255, 255, 255, .6)
$body-bg = #333841
$body-wrap = #282c34

/* 深色模式 */
body.dark
    color:$body-color
    background-color:$body-bg
    #local-search,#local-search input,.site_nav #mobileNav
        color:$body-color
        background:$body-bg
    .menu_child
        background-color:$body-bg !important
    .fancybox-stage img,.avatar
        -webkit-filter brightness(.7)
        filter brightness(.7)
    header p,.social-icon i
        color:$body-color !important
    #body-wrap,#toc,#site_nav
        background-color $body-wrap
        main.content
            figure.highlight,.gutter pre
                color:$body-color
                background:$body-bg
            .highlight-wrap[data-rel]::before
                background #444851
            code
                background rgba(244,116,102,.05)
            img
                -webkit-filter brightness(.7)
                filter brightness(.7)
            .post-copyright
                box-shadow 2px 2px 5px #222
                background-color:$body-bg
            .social-share
                .wechat-qrcode,h4
                    color:$body-color
                    background-color:$body-bg
                    border 1px solid$body-bg
                    box-shadow 0 2px 10px$body-bg
                    border-radius 5px
                .wechat-qrcode::after
                        border-color:$body-bg transparent transparent transparent
            #link *
                color:$body-color
            .link-list .link-list-item:hover
                background-color:$body-bg
        .post-title h2 a
            color rgba(255,255,255,.9)
        .post-item
            border-bottom 2px solid$body-color
    #rightside
        -webkit-filter brightness(.7)
        filter brightness(.7)
    #artitalk_main 
        *
            color:$body-color
        #lazy
            background-color:$body-bg
    #hpp_talk
        .hppt_normal-shadow
            box-shadow 2px 2px 3px #222
    #twikoo 
        .tk-submit,.tk-comment
            box-shadow 2px 2px 5px #222
            background-color:$body-bg
        .tk-extra
            background transparent
        .tk-replies,.tk-comment
            box-shadow 0 0 black
    #vcomments,#wcomments
        .vpanel,.vcard
            background-color:$body-bg
            box-shadow 2px 2px 5px #222
        .vquote .vcard
            box-shadow 0px 0px 0px #222
        .vquote
            border-left 0
        .vwrap,.vh
            border 0px solid #222