main.content .page-title
    text-align: center
main.content .tag-content
    text-align: center
    padding-bottom: 50px
main.content .tag-content a    
    display: inline-block;
    padding: 0 .4rem;

main.content .page-title .page-description
    font-size: 16px
    padding: 0 15%;
    display: block;

main.content .categorie-content
    padding 30px 0 50px 60px 
.category-list .category-list-count:before
    content: '(';
.category-list .category-list-count:after
    content: ')';
.category-list .category-list-link
    padding-right: 10px;
    line-height: 30px;
.category-list .category-list-item
    list-style none
.category-list .category-list-item .category-list-child
    padding-left: 20px;

