main.content 
    .page-title
        text-align center
        .page-description
            font-size 16px
            padding 0 15%
            display block
    .tag-content
        text-align center
        padding-bottom 50px
        a    
            display inline-block
            padding 0 .4rem
.category-list 
    .category-list-count
        :before
            content '('
        :after
            content ')'
    .category-list-link
        padding-right 10px
        line-height 30px
    .category-list-item
        list-style none
        .category-list-child
            padding-left 20px

