footer
    clear both
    max-width 780px
    text-align center
    font-size 15px
    line-height 2em
    padding 30px 0
    margin 0 auto
    .fa-fan
        color $fan
        -webkit-animation turn 1s linear infinite
        -moz-animation turn 1s linear infinite
        -o-animation turn 1s linear infinite
        -ms-animation turn 1s linear infinite
        animation turn 1s linear infinite
    .third-party 
        .icp img
            position relative
            top 4px
        .cdn img 
            position relative
            top -2px
        

