footer{
    clear: both;
    max-width: 780px;
    text-align: center;
    font-size: 15px;
    line-height: 2em;
    padding: 60px 0;
    margin: 0 auto;
}

footer .copyright{
    color: #666;
}

footer .fa-fan{
    color: #00c4b6;
    -webkit-animation: turn 1s linear infinite;
    -moz-animation: turn 1s linear infinite;
    -o-animation: turn 1s linear infinite;
    -ms-animation: turn 1s linear infinite;
    animation: turn 1s linear infinite;
}