/* 头信息 */
header
    padding-bottom 150px
    margin 0 30px
    background-size cover

.avatar:hover 
    -webkit-transform rotate(360deg)
    -moz-transform rotate(360deg)
    -o-transform rotate(360deg)
    -ms-transform rotate(360deg)
    transform rotate(360deg)
    -webkit-transition all .5s
    -moz-transition all .5s
    -o-transition all .5s
    -ms-transition all .5s
    transition all .5s

.author-info 
    .avatar
        width 100px
        height 100px
        border-radius 50%
    
    .author
        float none
        font-weight 700
        font-size 1.3rem
        color $author-name
        padding-top 10px

    div
        float left
        text-align center

.card-content 
    .description 
        margin 5% 0
        font-size .9rem
        color #565654
        float right
        text-align right
        .social-icon 
            float right
            a 
                i
                    color black
                    font-size 16px
                    margin-right 10px
                    margin-top 10px
                :hover
                    -webkit-transform rotate(360deg)
                    -moz-transform rotate(360deg)
                    -o-transform rotate(360deg)
                    -ms-transform rotate(360deg)
                    transform rotate(360deg)
                    -webkit-transition all .5s
                    -moz-transition all .5s
                    -o-transition all .5s
                    -ms-transition all .5s
                    transition all .5s

@media screen and (max-width 600px)
    .author-info 
        div
            padding 1.3rem 1.5rem 0
            float none
            width auto
            margin 0 auto
            float none
        hr
            border 2px dashed $scrollbar
            margin 2rem auto
    .card-content .description,.card-content .description .social-icon
        float none
        text-align center
    header
        padding-bottom 0

