/* 头信息 */
#header
    display flex
    padding-bottom 20px
    justify-content space-between

.avatar:hover
    -webkit-transform rotate(360deg)
    -moz-transform rotate(360deg)
    -o-transform rotate(360deg)
    -ms-transform rotate(360deg)
    transform rotate(360deg)
    -webkit-transition all 0.5s
    -moz-transition all 0.5s
    -o-transition all 0.5s
    -ms-transition all 0.5s
    transition all 0.5s

.header-author
    .author-avatar
        width 100px
        height 100px
        object-fit cover
        border-radius 6px

    .author-name
        color $title
        font-size 1.3rem
        font-weight 700
        padding-top 10px
        text-align center

.header-description
    margin-top 20px
    color var(--text-color)
    text-align right

    p
        margin unset

    .header-icon
        float right

        a i
            color var(--text-color)
            font-size 0.9rem
            margin-right 10px
            margin-top 10px

            &:hover
                -webkit-transform rotate(360deg)
                -moz-transform rotate(360deg)
                -o-transform rotate(360deg)
                -ms-transform rotate(360deg)
                transform rotate(360deg)
                -webkit-transition all 0.5s
                -moz-transition all 0.5s
                -o-transition all 0.5s
                -ms-transition all 0.5s
                transition all 0.5s

@media screen and (max-width 900px)
    header
        display flex
        justify-content center
        flex-direction column

        .author
            display block
            text-align center

        .header-description
            text-align center

        .header-description>.header-icon
            text-align center
            float none
