
.post-item {
    cursor: pointer;
    position: relative;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .post-meta {
        display: flex;
        align-items: center;
    }

    .post-date {
        position: relative;
        padding-right: 12px;
        line-height: 22px;
        font-size: 13px;
        flex-shrink: 0;

        &::after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            right: 2px;
            height: 12px;
            background: var(--main-color-bg);
            content: ' ';
        }
    }

    .post-tag {
        display: flex;

        a {
            position: relative;
            flex-shrink: 0;
            font-size: 13px;
            line-height: 22px;
            padding: 0 8px;
            color: var(--font-color-3);

            &:not(:last-child)::after {
                position: absolute;
                right: -1px;
                display: block;
                content: ' ';
                width: 2px;
                height: 2px;
                top: 50%;
                border-radius: 50%;
                background: var(--font-color-2);
            }
        }
    }

    .post-content-wrap {
        display: flex;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--main-color-border);
        margin-top: 10px;
        width: 100%;

        .post-content {
            flex: 1;

            .post-title, .post-abstract {
                margin-bottom: 8px;
            }

            .post-title {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: var(--font-color-1);
                width: 100%;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }

            .post-abstract {
                color: var(--font-color-3);
                font-size: 13px;
                line-height: 22px;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }

            .post-action-list, .post-action-item {
                display: flex;
                align-items: center;
            }

            .post-action-item {
                position: relative;
                margin-right: 20px;
                font-size: 13px;
                line-height: 20px;
                color: var(--font-color-3);
                flex-shrink: 0;

                span {
                    margin-left: 4px;
                }
            }
        }

        .post-cover {
            flex: 0 0 auto;
            width: 120px;
            height: 80px;
            margin-left: 24px;
            border-radius: 4px;
            position: relative;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}