/* 主体内容 */

main
    margin 0 20px
    padding-top 40px
    padding-bottom 40px

.content 
    .post-title 
        padding-bottom 16px
        h2 
            font-size 1.3em
            a
                color black
.post-item
        margin 50px 30px
        border-bottom 2px solid #f8f8f8
        .cover
            padding-top 20px
            pointer-events none
            width 100%
    .post-description p
        line-height 2em
        letter-spacing 0.2px
        overflow hidden
        text-overflow ellipsis
        display -webkit-box
        -webkit-line-clamp 3
        -webkit-box-orient vertical
    .post-footer
        padding 20px 0 10px 0
        display inline-block
        div
            color #858585
            float left
            font-size 13px
            max-width 100%
            line-height 25px
            margin-right 20px
            .fa.fa-tag
                font-size 11px
                margin-top 3px
        .post-tag a
            color #666666
        .post-categorie a
            color #666666


main.content 
    .main
        padding 0 10px 30px
    .pagination
        padding-top 30px
        text-align center
        color #666666
        font-size 14px
        width 100%
        display inline-block
        .page-number
            display inline-block
            margin 0 .2rem
            min-width 1.2rem
            height 1.2rem
            color #00c4b6
            text-align center
            line-height 1.2rem
        .page-number.current 
            background #00c4b6
            color #fff
    .page-pre
        width 260px
        float left
        line-height 2em
        letter-spacing 0.2px
        overflow hidden
        text-overflow ellipsis
        display -webkit-box
        -webkit-line-clamp 1
        -webkit-box-orient vertical
        i
            text-align center
    .page-next
        width 260px
        float right 
        line-height 2em
        letter-spacing 0.2px
        overflow hidden
        text-overflow ellipsis
        display -webkit-box
        -webkit-line-clamp 1
        -webkit-box-orient vertical

main.content 
    .post-content
        padding 50px 20px
        h1,h2,h3,h4,h5,h6
            padding 16px 0
        p
            line-height 1.7em
    .table-wrap
        overflow-x scroll
        table
            display table
            width 100%
            border-spacing 0
            border-collapse collapse
            empty-cells show
            thead 
                background rgba(153,169,191,.1)
            th,td 
                padding .3rem .6rem
                border 1px solid #eee
                vertical-align middle

main.content 
    .page-title
        text-align center
        padding-bottom 30px
        .page-description
            font-size 16px
            padding 0 15%
            display block
    .tag-content
        text-align center
        padding-bottom 50px
        a    
            display inline-block
            padding 0 .4rem


main.content
    .clipboard
        right 16px
        top 8px
        cursor pointer
        border-radius 3px
        color $highlight-foreground
        position relative
        float right
        padding 2px
        :hover
            color $main
    code
        padding .1rem .2rem
        background rgba(27,31,35,.05)
        color #f47466
        border-radius 3px
        word-wrap break-word
        word-break break-word
        overflow-wrap break-word
    ol,ul
        margin-top 0.4rem
        li
            position relative
            margin 0.3rem 0
            padding-left 0.3rem
            p
                margin 0
                line-height unset
    blockquote 
        margin 1rem 0
        padding .1rem .8rem
        border-left .2rem solid $main
        background-color rgba(73,177,245,0.1)
        color #6a737d
    blockquote.pullquote.left
        max-width 45%
        float left
        margin .5em .5em 0 0
    blockquote.pullquote.right
        max-width 45%
        float right
        margin .5em 0 0 .5em
    kbd
        margin 0 3px
        padding 2px 4px
        font-size 90%
        color #fff
        background-color #666
        border-radius 3px
        -webkit-box-shadow inset 0 -1px 0 rgb(0 0 0 / 25%)
        box-shadow inset 0 -1px 0 rgb(0 0 0 / 25%)
    .video-container
        position relative
        overflow hidden
        margin-bottom 0.8rem
        padding-top 56.25%
        height 0
        iframe
            position absolute
            top 0
            left 0
            margin-top 0
            width 100%
            height 100%
@media screen and (max-width 800px)
    main.content
        display inline
        .post-item
            .post-title h2
                font-size 1.1em
    .post-copyright
        margin 0 20px 
    main.content .pagination
        padding-bottom 60px
    .highlight-wrap .highlight
        td .line
            font-size .8em

@media screen and (max-width 600px)
    main.content 
        .pagination 
            .page-pre
                text-align center
                width 100%
                line-height 40px
            .page-next
                text-align center
                width 100%

