/* 内容文章 */

main
    width: 720px;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 80px;


.content 
    .post-title 
        padding-bottom: 16px;
        h2 
            font-size: 1.3em;
            a
                color: black;
.post-item
        margin: 50px 30px
        border-bottom: 2px solid #f8f8f8;
        .cover
            padding-top: 20px;
            pointer-events: none;
            width: 100%;
    .post-description p
        line-height: 2em;
        letter-spacing: 0.2px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    .post-footer
        padding: 20px 0 10px 0;
        display inline-block
        div
            color: #858585;
            float: left;
            font-size: 13px;
            max-width: 100%;
            line-height: 25px
            margin-right: 20px;
            .fa.fa-tag
                font-size: 11px;
                margin-top: 3px;
        .post-tag a
            color #666666
        .post-categorie a
            color #666666


main.content 
    .main
        padding 0 10px 30px
    .pagination
        padding-top: 30px;
        text-align: center;
        color: #666666;
        font-size: 14px;
        width 100%
        display: inline-block
        .page-number
            display: inline-block;
            margin: 0 .2rem;
            min-width: 1.2rem;
            height: 1.2rem;
            color: #00c4b6;
            text-align: center;
            line-height: 1.2rem;
        .page-number.current 
            background: #00c4b6;
            color: #fff;
    .page-pre
        width: 260px;
        float: left;
        line-height: 2em;
        letter-spacing: 0.2px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        i
            text-align: center
    .page-next
        width: 260px;
        float: right ;
        line-height: 2em;
        letter-spacing: 0.2px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

main.content .post-content
    padding: 50px 20px
    h1,h2,h3,h4,h5,h6
        padding: 16px 0;
    p
        line-height: 1.7em;






