/* 导航栏 */
nav
    height 3rem
    margin 0 30px
    padding 20px 0
    .search-btn
        cursor: pointer;
        padding-top: 10px;

#site_nav 
    ul
        float right
        top: -30px;
        li
            position relative
            list-style none
            float left
            a
                font-weight 700
                display block
                white-space nowrap
                padding 10px
                font-size .9rem
    if hexo-config('search.enable')
        ul
            position: relative;

    #mobileNav
        opacity 0
        display: table-column;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    .open
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);    