/* 导航栏 */
nav
    height 3rem
    margin 0 30px
    padding 20px 0
    .search-btn
        cursor: pointer;
        padding-top: 10px;

#site_nav 
    ul
        float right
        li
            position relative
            list-style none
            float left
            a
                display block
                white-space nowrap
                padding 10px
                font-size .9rem
    #mobileNav
        display none