.content
    padding-bottom 20px

.page_title, .article_count
    font-size 1.3rem
    text-align center
    padding-bottom 30px

.tag_content
    text-align center
    display flex
    flex-wrap wrap

.category-list
    padding 0
    text-align center

    .category-list-item
        padding 10px
        list-style none
        display inline-block

        .category-list-count
            position relative
            top -8px
            right -2px
            color #858585
            font-size 0.8rem

            &:before
                content '('

            &:after
                content ')'

.archive_article_info
    .article_item
        padding-left 1rem
        line-height 20px

        .article_title_item
            width 70%
            display inline-block
            overflow hidden
            white-space nowrap
            text-overflow ellipsis

        .post_created_date
            float right

.tag_content a
    padding 4px
