#rightside {
    position: fixed;
    right: 0;
    bottom: 80px;
    z-index: 1;
    width: 30px;

    .rightside-item {
        text-align: center;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background-color: var(--main);
            color: #fff;
            margin-bottom: 3px;
            border-radius: 6px;
            cursor: pointer;
        }
    }
}