<%if(theme.search.enable){%>
<div class="search-dialog" id="local-search" style="display: none;">
    <div id="local-search-title"><%-_p("search.title")%></div>
    <input id="local-search-input" autocomplete="off" placeholder="<%-_p('search.input')%>" type="text" >
    <hr>
    <div id="local-search-result">
        <div id="local-hits"></div>
    </div>
    <span class="search-close-button"><i class="fas fa-times"></i></span>
</div>
<div id='search-mask'></div>
<script src="<%-theme.CDN.search%>"></script>
<%}%>