
// CW === Clockwise
@keyframes CW
    0%
        -webkit-transform rotate(0deg)
        transform rotate(0deg)

    to
        -webkit-transform rotate(1turn)
        transform rotate(1turn)

@keyframes CW
    0%
        -webkit-transform rotate(0deg)
        transform rotate(0deg)

    to
        -webkit-transform rotate(1turn)
        transform rotate(1turn)

// IH === Inverted Hour
@keyframes IH
    0%
        -webkit-transform rotate(0deg)
        transform rotate(0deg)

    to
        -webkit-transform rotate(-360deg)
        transform rotate(-360deg)

@keyframes IH
    0%
        -webkit-transform rotate(0deg)
        transform rotate(0deg)

    to
        -webkit-transform rotate(-360deg)
        transform rotate(-360deg)
