footer {
    text-align: center;
    font-size: 0.9rem;
    line-height: 2em;
    padding: 30px 0;

    .fa-fan {
        color: #00c4b6;
        -webkit-animation: IH 1s linear infinite;
        animation: IH 1s linear infinite;
    }
}