/**
 * 本地搜索
 * 来源于hexo-butterfly
 * 由Lete乐特进行小型改动
 */
if (hexo-config('search'))
    // 关键词
    .search-keyword
        color #f47466
        font-weight 700

    // 搜索结果列表
    #local-search .search-result-list
        overflow-y auto
        max-height 200px
        overflow-x hidden
        padding 0 10px

    #local-search .search-result
        margin 0.3rem 0 0.4rem
        word-break break-all
        line-height 1.7
        font-size 0.8rem

    .search-result-list li
        list-style none

        a
            font-weight 600
            font-size 0.8rem

    // 关闭按钮
    .search-close-button
        position absolute
        top 0.8rem
        right 1rem
        color #858585
        font-size 1rem
        line-height 1
        cursor pointer
        -webkit-transition color 0.2s ease-in-out
        -moz-transition color 0.2s ease-in-out
        -o-transition color 0.2s ease-in-out
        -ms-transition color 0.2s ease-in-out
        transition color 0.2s ease-in-out

    // 搜索框
    #local-search
        top 5rem
        left 50%
        z-index 1
        width 30rem
        display none
        padding 1rem
        margin-left -15rem
        position fixed
        border-radius 10px
        background var(--main-bg)
        box-sizing border-box
        -webkit-box-sizing border-box
        -moz-box-sizing border-box

        hr
            margin 1rem auto

    // 本地搜索
    #local-search-title
        padding 0 0 0.7rem
        color var(--main)
        font-size 1rem
        text-align center
        line-height 1

    // 搜索框
    #local-search input
        padding 0.25rem 0.7rem
        width 100%
        outline 0
        border 2px solid var(--main)
        border-radius 2rem
        background transparent
        color var(--text-color)
        font-size 0.8rem
        -webkit-box-sizing border-box
        -moz-box-sizing border-box
        box-sizing border-box

    #local-search hr
        border 2px dashed var(--main)
        margin 2rem auto

    @media screen and (max-width 900px)
        #local-search .search-result-list
            max-height 78vh

        #local-search
            border-radius 0
            top 0
            left 0
            margin 0
            width 100%
            height 100%

        #navbar-wrap
            .search-btn
                margin-left auto

    // 动画
    .search-animation-max
        -webkit-animation search-animation-max 0.5s
        -moz-animation search-animation-max 0.5s
        -o-animation search-animation-max 0.5s
        -ms-animation search-animation-max 0.5s
        animation search-animation-max 0.5s

    .search-animation-min
        -webkit-animation search-animation-min 0.5s
        -moz-animation search-animation-min 0.5s
        -o-animation search-animation-min 0.5s
        -ms-animation search-animation-min 0.5s
        animation search-animation-min 0.5s

    // 放大
    @keyframes search-animation-max
        0%
            opacity 0
            -webkit-transform scale(0.7)
            -moz-transform scale(0.7)
            -o-transform scale(0.7)
            -ms-transform scale(0.7)
            transform scale(0.7)

        100%
            opacity 1
            -ms-filter none
            filter none
            -webkit-transform scale(1)
            -moz-transform scale(1)
            -o-transform scale(1)
            -ms-transform scale(1)
            transform scale(1)

    // 缩小
    @keyframes search-animation-min
        0%
            opacity 1
            -ms-filter none
            filter none
            -webkit-transform scale(1)
            -moz-transform scale(1)
            -o-transform scale(1)
            -ms-transform scale(1)
            transform scale(1)

        100%
            opacity 0
            -webkit-transform scale(0.7)
            -moz-transform scale(0.7)
            -o-transform scale(0.7)
            -ms-transform scale(0.7)
            transform scale(0.7)